.tiplistdetail{
    width:100%;
}
.tiplistdetail-main{
    width:92%;
    margin:0 auto 0;
    padding-top:56px;
}
.tip-main-title{
    font-size: 16px;
    color: #666;
    padding: 10px 0;
    font-weight: 500;
}
.tip-main-time{
    font-size: 12px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #999;
}
.tip-main-txt{
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}
.tip-main-pics{
    width:100%;
}
.tip-main-pics-single{
    width:100%;
    margin-bottom:10px;
}
.tip-main-pics-single img{
    width:100%;
    border:1px solid #eee;
    border-radius:4px;
    box-shadow:0 0 2px #eee;
}
.praise-send{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:20px 0;
    border-bottom:5px solid #eee;
}
.praise-send>div{
    width:50%;
    text-align: center;
    font-size:14px;
    color:#666;

}
.praise-send>div img{
    display:block;
    width:20px;
    height:20px;
    margin:2px auto;
}
.praise-color{
    color:#FF6464;
}
.tip-commentList{
    width:92%;
    max-height:150px;
    overflow-y:auto;
    margin:0 auto 44px;
    padding:10px 0;
}
.tip-commentList-temp{
    width:100%;
    margin:5px 0;
}
.tip-temp-first{
    margin-right: 5px;
    font-size: 16px;
    color: #666;
}
.tip-temp-last{
    font-size: 14px;
    color: #999;
}
.tipdetail-bot{
    width: 100%;
    height: 60px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid #eee;
}
.tipdetail-txt{
    width: 80%;
    border: 1px solid #eee;
    border-radius: 22px;
    padding-left: 10px;
    height: 44px;
    margin-right: 10px;
    box-sizing: border-box;
}
.tipdetail-txt input{
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.tipdetail-bot img{
    width:30px;
}