.tiplist-nav{
    width:100%;
    top:44px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    border-bottom:1px solid #eee;
    position:fixed;
    left:0;
    z-index:1000;
    background: #fff;
    color:#989898;
    font-size:14px;
}
.tiplist-nav>div{
    width:50%;
    text-align: center;
    height:44px;
    line-height:44px;
    position:relative;
}
.tiplist-nav>div+div::before{
    position:absolute;
    content:'';
    width:1px;
    height:30px;
    background: #eee;
    left:0;
    top:20%;
}
.tiplist-list{
    width:92%;
    margin:0 auto 0;
    padding-bottom:10px;
    padding-top:96px;
}
.tiplist-list-temp{
    width:100%;
    background: #fff;
    margin-top: 12px;
    box-shadow: 0 0 2px #eee;
    padding: 10px 16px 0;
}
.tiplist-list-temp-top{
    width:100%;
    display:flex;
    justify-content: flex-start;
    color: #666;
    font-size: 14px;
    padding:5px 0;
}
.temp-top-img{
    width:60px;
    height:60px;
    overflow:hidden;
    margin-right:10px;
}
.temp-top-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.tiplist-list-temp-bottom{
    width:100%;
    display:flex;
    justify-content: flex-start;
    padding:10px 0;
    border-top:1px solid #eee;
}
.tiplist-list-temp-bottom2{
    width:100%;
    display:flex;
    justify-content: flex-start;
    padding:10px 0;
    border-top:1px solid #eee;
}
.tiplist-list-temp-bottom2>div{
    width:50%;
    text-align: center;
    font-size:12px;
    color:#666;
}
.tiplist-list-temp-bottom>div{
    width:33.3%;
    text-align: center;
    font-size:12px;
    color:#666;
}
.blue-color{
    color:#A1FED6;
    margin:0 5px;
}
.tiplist-list-temp-bottom>div:nth-child(2){
    border-left:1px solid #eee;
    border-right:1px solid #eee;
}
.tiplist-hid{
    display:none;
}
.tiplist-show{
    display:flex;
}