.lesson-nav {
    width: 100%;
    top: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    position: fixed;
    left: 0;
    z-index: 1000;
    background: #fff;
}

.lesson-nav > div {
    width: 33.3%;
    text-align: center;
    height: 44px;
    line-height: 44px;
    position: relative;
    font-size: 14px;
    color: #666;
}

.lesson-shape {
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid #eee;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    position: absolute;
    top: 20px;
}

.les-span {
    margin-right: 3px;
}

.lesson-shape-select {
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid #5ee2c6;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 20px;
}

.lesson-select-nav {
    color: #5ee2c6 !important;
    position:relative;
}
.lesson-select-nav::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 1px;
    background: #5ee2c6;
    left: 25%;
    top: 100%;
}

.lesson-nav > div + div::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    background: #eee;
    left: 0;
    top: 20%;
}
.selectSchool-list{
    padding-top:90px;
}
.selectSchool-list a{
    text-decoration:none;
}
.classify-hid{
    display:none;
}
.classify-show{
    display:block;
}
.singleCenter{
    width:82vw;
}