.single{
    width:100%;
    margin:0 auto;
    height:44px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    border-bottom:1px solid #eee;
    text-decoration:none;
}
.img{
    width:10%;
    height:44px;
    text-align: left;
    line-height:44px;
}
.img img{
    width:20px;
    height:20px;
    vertical-align: -3px;
}
.find_contain{
    width:80%;
    color:#666;
    font-size:14px;
}
.shape{
    display:inline-block;
    height: 8px;
    width: 8px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    transform: matrix(.71,.71,-.71,.71,0,0);

}