.excell {
    width: 100%;
}

.title {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    margin-top: 5px;
}

.title img {
    width: 16px;
    margin-right: 10px;
}

.title > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10px;
}

.shape1 {
    background: #5ee2c6;
    width: 5px;
    height: 44px;
    margin-right: 10px;
}

.lessons {
    width: 92%;
    margin: 5px auto;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    flex-wrap: wrap;
}

.temp {
    width: 31.4%;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 0 0 1px 1px #eee;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.temp:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
}

.temp img {
    width: 100%;
    height: 80px;
}

.til {
    width: 100%;
    font-size: 14px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.temp > div {
    box-sizing: border-box;
    padding: 5px 2px;
}

.centers {
    font-size: 12px;
    display: flex;
    color: #999;
    justify-content: flex-start;
    align-items: center;
}

.centers span:nth-child(2) {
    margin: 0 3px;
}

.centers img {
    width: 12px;
    height: 12px;
}

.bots {
    color: #5EE2C6;
    font-size: 14px;
    font-weight: 500;
}

.more {
    text-align: center;
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
    color: #FF3434;
    text-decoration: none;
}