
.banner {
    width: 100%;
    height: 175px;
    margin-top: 44px;
    background: #000;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banDown {
    width: 92%;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.meth {
    width: 92%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.b_lf {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    font-weight: normal;
}

.address, .address_tip {
    color: #666;
    font-size: 12px !important;
}

.find_contain {
    width: 87% !important;
}

.meth img {
    width: 16px;
    height: 16px;
    vertical-align: -15px;
    margin-right: 10px;
}

.meth_lf {
    width: 90%;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #666;
}

.intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    border-top: 10px solid #eee;
    padding: 0 18px 0 0;
    font-size: 14px;
    color: #333;
}

.intro span.sh {
    display: inline-block;
    width: 5px;
    height: 33px;
    background: #5ee2c6;
    margin-right: 10px;
}

.intro_txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro_txt1 {
    padding: 15px !important;
}

.schoolDetail_footer {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 44px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 -1px 1px #5EE2C6;
}

.schoolDetail_footer div {
    width: 33.3%;
    text-align: center;
    color: #5ee2c6;
    position: relative;
}

.schoolDetail_footer div:first-child {
    background: #5ee2c6;
    color: #fff !important;
}

.schoolDetail_footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #5ee2c6;
    color: #fff !important;
    text-decoration: none;
}

.schoolDetail_footer div:first-child img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.schoolDetail_footer div + div::after {
    content: '';
    width: 1px;
    height: 20px;
    background: #eee;
    position: absolute;
    left: 0;
    top: 30%;
}

.alls, .alls-lf {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alls > div {
    width: 50%;
    padding: 0 5px;
}

.alls > .alls-lf {
    justify-content: flex-end;
}

.alls-lf-lf {
    font-size: 39px;
    color: #fbb03b;
    font-weight: bold;
    margin-right: 5px;
}

.alls-rt, .alls-lf-rt {
    font-size: 12px !important;
    color: #666 !important;
}

.alls-rt {
    border-left: 1px solid #eee;
}

.banner .swiper-container {
    height: 175px !important;
    overflow: hidden !important;
    margin-top: 10px;
}

.banner .slide-content {
    width: 100% !important;
    height: 175px !important;
    overflow: hidden !important;
    margin: 0 auto;
    border-radius: 0 !important;
    box-sizing: border-box;
}

.banner .swiper-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    color: #666;
    font-size: 12px;
    padding: 10px 15px;
}

.addresses {
    width: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.telPhone {
    padding: 0 14px;
}

.out-address {
    width: 100%;
}

.comments a {
    text-decoration: none;
}

.schoolDetail-head {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#13C3B5, #A1FED6);
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 5px;
    color: #fff;
}

.schoolDetail-img, .schoolDetail-rt {
    width: 20px;
    height: 20px;
}

.schoolDetail-img img, .schoolDetail-rt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.schoolDetail-center {
    width: 80vw;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.s-show{
    display:flex;
}
.s-hid{
    display:none;
}