.schoolAllComment-list{
    padding-top:90px;
}
.tags{
    width:100%;
    padding:10px 15px;
    display:flex;
    justify-content: flex-start;
    border-bottom:1px solid #eee;
    flex-wrap:wrap;
}
.tags-temp{
    border:1px solid #eee;
    height:30px;
    line-height:30px;
    font-size:14px;
    color:#ccc;
    border-radius:15px;
    padding:0 5px;
    margin-right:5px;
    margin-bottom:10px;
}
.tag-show{
    display:block;
}
.tag-show2{
    display:flex;
}
.tag-hid{
    display:none;
}