.methList-box{
    width:92%;
    padding:56px 0 0;
    list-style:none;
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;
    justify-content: flex-start;
}
.methList-box a{
    display:block;
    width: 32%;
    height: 150px;
    background: #fff;
    border-radius:4px;
    padding:0px 2px;
    margin-bottom:20px;
    box-sizing:border-box;
    overflow:hidden;
    box-shadow:0 0 5px #EAEAEA;
}
.methList-box a:nth-child(3n+2){
    margin:0 1.5%;
}
.methList-box a p{
    margin:0;
}
.methList-box a .left_img{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.methList-box .left_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.methList-box .right_contain{
    width: 100%;
}
.methList-box .main-title{
    width: 100%;
    font-size: 14px;
    color:#000;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.methList-box .main-middle{
    width: 100%;
    display:flex;
    font-size: 12px;
    color:#999;
    justify-content: flex-start;
    align-items:center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.methList-box .main-middle span:nth-child(2){
    margin-right:5px;
}

.methList-box .price{
    color:#5EE2C6;
    font-size: 14px;
}
.noLessons{
    width: 100%;
    text-align: center;
    padding-top:60%;
    color:#333;
}
.schoolOnLine-show{
    display:block;
}
.schoolOnLine-hid{
    display:none;
}