.com-detail {
    padding-top: 50px;
}

.com-detail .temps {
    border: none !important;
}

.praise-comment {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #eee;
}

.praise-comment img {
    width: 18px;
    height: 18px;
    vertical-align: 3px;
    margin-right: 5px;
}

.praise-comment > div {
    width: 80px;
    padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.praise-comment > div:first-child {
    border-color: #FF6464;
    color: #FF6464;
    margin-right: 10px;
}

.praise-comment > div:last-child {
    border-color: #FBB03B;
    color: #FBB03B;

}

.comList {
    width: 100%;
    padding: 2px 10px;
}

.comList > div {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.comList > div span:first-child {
    color: #10AEFF;
}

.comList > div span:last-child {
    color: #666;
}

.circle-com {
    width: 100vw;
    height: 44px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.circle-com input {
    outline: none;
    width: 92vw;
    height: 30px;
    display: block;
    margin: 6px auto;
    border: none;
    border-radius: 15px;
    background: #eee;
    padding-left: 10px;
}
.controls__2A9jT {
    top:55px!important;
}