.banner{
    width:100%;
    height:175px;
    margin-top:44px;
}
.banner img{
    width:100%;
    height:100%;
}
.banDown,.meth{
    width:92%;
    margin:0 auto;
    padding:5px 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid #eee;
}
.b_lf{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    font-weight: normal;
}
.addr{
    font-size:12px!important;
}
.meth{
    text-decoration:none;
}
.meth img{
    width:45px;
    height:45px;
    vertical-align:-15px;
    margin-right:10px;
}
.meth_lf{
    font-size:14px;
    color:#666;
}
.tip,.intro{
    width:100%;
    border-top:10px solid #eee;
    padding:15px;
}
.tip_tip{
    color: #10AEFF;
    font-size: 14px;
}
.tip .tip_main1{
    font-size: 14px!important;
    color: #e4393c!important;
    margin: 10px 0!important;
}
.tip .tip_main1 span+span{
    margin:0 5px;
}
.tip_main2{
    font-size:12px!important;
    color: #e4393c!important;
}
.lesson-intro{
    padding:10px;
}
.intro_main{
    text-indent:2em;
    font-size:14px;
    line-height:1.8;
    padding-bottom:44px;
    color:#989898;
}
.lesson_footer{
    width:100%;
    height:44px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    line-height:44px;
    position:fixed;
    left:0;
    bottom:0;
    z-index:1000;
    background: #fff;
    box-shadow:0 -1px 1px #5EE2C6;
}
.lesson_footer div{
    width:33.3%;
    text-align: center;
    color:#5ee2c6;
    position:relative;
}
.lesson_footer div:first-child{
    background: #5ee2c6;
    color:#fff!important;
}
.lesson_footer a{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
    background: #5ee2c6;
    color:#fff!important;
    text-decoration:none;
}
.lesson_footer div:first-child img{
    width:16px;
    height:16px;
    margin-right:5px;
}
.lesson_footer div+div::after{
    content:'';
    width:1px;
    height:20px;
    background: #eee;
    position:absolute;
    left:0;
    top:30%;
}